div.download button
{
	text-decoration: none;
	color: white;
	background-color: #bf0a30;
	border: 2px solid #bf0a30;
	border-radius: 1.75em;

	width: 45%;
	height: 3.5em;

	transition: color 1s ease;
	transition: background-color 1s ease;
}

div.download button:hover
{
	color: #bf0a30;
	background-color: white;
}