 div.article ul.spread > li
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;   
    border-bottom: 1px solid #ccc;
}

div.article ul.spread > li:last-of-type
{
    border-bottom: none;
}

div.article ul li p
{
    text-indent: 0;
    text-align: justify;
    line-height: 1.2em;
    margin: 0.5em;
}

ul.noindent
{
    padding-left: 0;
}

/*
 * Flag Lists (actually a table, but shh)
 */

table.flags
{
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;

    padding-left: 5%;
    padding-right: 5%;
    
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 2px 0px inset;
    border: 1px solid rgba(0, 0, 0, 0.75);
}

    table.flags th
    {
        text-align: right;
    }

    table.flags tr
    {
        margin-bottom: 5px;
    }

    table.flags td img
    {
        margin: 15px !important;
        width: 60px !important;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 1.5px 0px;
    }