 div.article ul.spread > li
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;   
    border-bottom: 1px solid #ccc;
}

div.article ul.spread > li:last-of-type
{
    border-bottom: none;
}

div.article ul li p
{
    text-indent: 0;
    text-align: justify;
    line-height: 1.2em;
    margin: 0.5em;
}

ul.noindent
{
    padding-left: 0;
}

div#sidebar > ul > li
{
    padding-bottom: 8px !important;
    border-bottom: 1px solid rgba( 55, 55, 55, 0.12);
}