html, body { height: 100%; }
* { font-size: 13pt; font-family: "Open Sans",sans-serif; color: rgba(0,0,0,0.70); }
body { background: #fafafa; margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }

.center { display: block; margin-left: auto; margin-right: auto; }

/*
 * Various
 */

ul.nostyle
{
    list-style: none;
}

/*
 * links
 */

a
{
    font-size: 12.5pt;
    color: #00796B;
    text-decoration: none;
    font-weight: bold;
}

a:hover { color: #bf0a30; }

/*
 * articles
 */

div.article
{
    border-bottom: 1.5px solid rgba(0,0,0,0.54);
    padding-bottom: 2em !important;
    margin-bottom: 4em !important;
}

    div.article p
    {
        text-align: justify;
        line-height: 1.5em;
        text-indent: 1em;
        margin-bottom: 0 !important;
    }

        div.article p:not(:first-child)
        {
            margin-top: 20px;
        }

    div.article pre
    {
        margin: 0;
        margin: 25px 2% 0px 2%;
    }

p.note
{
    font-size: 12pt;
    color: rgba(0,0,0,0.54);
    text-indent: 0 !important;
    margin-top: 0 !important;
}

p.caption
{
    font-size: 11pt;
    color: rgba(0,0,0,0.54);
    text-indent: 0 !important;
    margin-top: 0;
    text-align: center !important;
}

p.desc
{
    line-height: 1.75em;
}

p.footer
{
    font-size: 10pt;
    color: rgba(0,0,0,0.35);
    margin-left: 350px;
    clear: both; /* ensure's it will be beneath any floating things */
}

h1.title
{
    font-size: 40pt;
    margin-left: 317px;
    padding-top: 0.50em;
    padding-bottom: 0.60em;
}

/*
 * div.content styles
 */

h1, h2 { color: #bf0A30; }

div.content
{
    background: #fffff;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 0px 1.5px 0px;
}

    div.content h1
    {
        font-size: 40pt;
    }

    div.content h2,
    div.content h2 *
    {
        font-size: 24pt;
    }

    div.content div.entry
    {
        margin-top: 2%;
        overflow-x: visible;
        clear: both;
    }

        div.content div.entry img
        {
            float: left;
            display: inline-block;
            
            width: 35%;
            max-height: 100px;

            margin: 25px;
        }

div.content.noSidebar
{
    margin-left: 332px;
    max-width: 850px;
    width: 50%;
}