nav
{
    background-color: #00796B;
    box-shadow: 0px 2px 5px rgba( 0, 0, 0, 0.2 );
    height: 6em;

    z-index: 100;
}

    /* the list of site-wide navigation */
    nav > ul
    {
        list-style: none;
        margin: 0;
        padding-left: 80px;        
    }

        nav > ul li
        {
            position: relative;
            display: inline;
            padding-top: 5px;
            padding-bottom: 5px;
        }

    nav > ul.links
    {
        background: linear-gradient( 180deg, rgba( 0, 0, 0, 0.4 ), rgba( 0, 0, 0, 0.35 ), rgba( 0, 0, 0, 0.4 ) );
        padding-top: 0.5em;
        padding-bottom: 0.6em;
    }

        nav > ul.links li
        {
            margin-right: 1.5em;
        }

            nav > ul.links li a
            {
                font-size: 2em;
                color: #ed0d3d;
                transition: color 0.2s ease;
            }

            nav > ul.links li a:hover
            {
                color: #bf0a30;
                transition: color 0.4s ease;
            }

    nav > ul.projects
    {
        padding-top: 0.4em;
        overflow-y: hidden;
        background-color: #00796B;
    }

        nav > ul.projects li
        {
            margin-right: 1em;
        }

            /* the links for just the projects */
            nav > ul.projects li a
            {
                font-size: 1.5em;
                color: rgba( 255, 255, 255, 0.70 );
            }

            nav > ul.projects li a:hover { color: white; }

    nav a
    {
        text-decoration: none;
    }

@media screen and ( max-width: 750px ) {

    nav
    {
        height: 3em
    }

    nav > ul.links
    {
        height: 100%;
        padding: 0;
        padding-left: 5%;
    }

    nav > ul.projects
    {
        visibility: hidden;
    }

}