div.withSidebar div#sidebar
{
    float: left;

    margin-left: 36px;
    width: 230px;
}

    div.withSidebar div#sidebar h2
    {
        font-size: 24px;
    }

    div.withSidebar div#sidebar ul
    {
        padding-left: 15px;
        margin-top: 2px;
    }

        div.withSidebar div#sidebar ul li
        {
            list-style: none;
            margin-bottom: 2px;
        }

            div.withSidebar div#sidebar ul li a
            {
                font-weight: normal;
                text-decoration: none;
                color: #004D40;
            }

            div.withSidebar div#sidebar ul li a:hover
            {
                color: #00897B;
            }

            div.withSidebar div#sidebar ul li ul
            {
                margin-left: 15px;
                margin-bottom: 5px;
            }

div.withSidebar div#main
{
    float: left;

    margin-left: 36px;
    width: 50%;
    max-width: 850px;
}