<p>
    <b>Total cache size:</b>
    <code>{{total_size}} bytes</code>
</p>
<table id="cache">
    <tr>
        <th>Origin</th>
        <th>Name</th>
        <th>Size (B)</th>
        <th>Time Loaded</th>
    </tr>
    {{#each list as |entry| ~}}
        <tr>
            <td>{{entry.origin}}</td>
            <td class="text"><code>{{entry.name}}</code></td>
            <td class="number"><code>{{entry.size}}</code></td>
            <td>{{entry.load_time}}</td>
        </tr>
    {{/each}}
</table>
