<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        {{#if title}}
        <title>{{title}} | Austin Donovan</title>
        {{else}}
        <title>Austin Donovan</title>
        {{/if}}

        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Source+Serif+Pro"
              rel="stylesheet">

        {{#each styles as |style| ~}}
        <link href="{{style}}"
              rel="stylesheet">
        {{/each}}
    </head>

    <body>

    <nav>
        <ul>
            <li><a href="/">Austin Donovan</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>

    <div id="content">
        {{{content}}}
    </div>

    <footer>
        Copyright &copy; 2018-{{year}} Austin Donovan. All Rights Reserved.<br/>
        Generated in {{elapsed_time}} nanoseconds on {{year}}.{{month}}.{{day}}
    </footer>

    </body>

</html>
